.row 
  .span5.offset1.form
    .row.form_header
      .span4
        %h3
          SIGN UP
    .row
      .span4
        %input{type: 'text', placeholder: 'User Name'}
        %br
        %input{type: 'text', placeholder: 'Password'}
        %br
        %input{type: 'text', placeholder: 'Password Confirmation'}
  .span5.offset1.form
    .row.form_header
      .span4
        %h3
          ADD TO EXISTING ACCOUNT
    .row
      .span4
        %input{type: 'text', placeholder: 'User Name'}
        %br
        %input{type: 'text', placeholder: 'Password'}