!!!
%html
  %head
    %title Papergame
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %link(href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css')
    = csrf_meta_tags

  %body
    .container
      .header
        .row
          .span2.icon
            %img{src: '/assets/logo.png'}
          .span8
            %h1
              PAPERGAME
            %p
              MAKING CONSUMERISM A GAME
      #js-nav
        .row
          .span12
            %ul.nav.nav-pills
              %li.active#js-home-tab
                %a{href: "#home"} Awards
              %li#js-faq-tab
                %a{href: "#faq"} FAQ
              %li#js-contact-tab
                %a{href: "#contact"} Contact
              %li#js-signup-tab
                %a{href: "#signup"} Sign Up
              %li#js-webhook-tab
                %a{href: "#webhook"} Create Awards
        %hr

      = yield

      .footer

